/*Header, Footer*/
.app-container {
  min-height: 100vh;
  background: rgb(16,147,136);
  background: linear-gradient(90deg, rgba(16,147,136,1) 0%, rgba(128,198,192,1) 77%, rgba(255,255,255,1) 100%);
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.animal-link {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  height: 100px;
  margin: 0;
  padding-top: 45px;
  box-sizing: border-box;
}

h3 {
  width: 130px;
  font-size: 16px;
  font-weight: 100;
  text-decoration: underline;
  margin-right: 10px;
}

p {
  width: 450px;
  font-size: 11px;
  line-height: 16px;
  font-weight: 100;
  text-transform: uppercase;
  margin-right: 100px;
}

/*Animals*/
.animal-container {
  width: 100%;
  height: 100px;
  background: rgb(16,147,136);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0;
  padding: 10px 0 10px 0;
 
}

li {
  list-style: none;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
  opacity: 80%;
  margin: 10px;
}

img:hover {
  opacity: 90%;
}

img.happy-icon, img.sad-icon {
  width: 30px;
  height: 30px;
  background: #ffffff;
  opacity: 100%;
}

img.warming-icon {
  width: 20px;
  height: 20px;
  opacity: 100%;
  border-radius: inherit;
}

img.warming-icon-hidden {
  visibility: hidden;
  width: 20px;
  height: 20px;
  opacity: 100%;
  border-radius: inherit;
}

b {
  display: block;
  font-size: 11px;
  width: 90px;
}

/*AnAnimal*/
.animal-detail-container {
  min-height: 100vh;
  background: rgb(16,147,136);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animal-detail-container img {
  width: 80%;
  height: 300px;
  border-radius: 10px;
  margin-top: 30px;
}

.animal-detail-container .status {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.animal-detail-container .status button {
  font-family: inherit;
  width: 90px;
  height: 39px;
  background: #ffffff;
  color: #109388;
  border: none;
  border-radius: 3px;
}

.animal-detail-container .status button:disabled {
  font-family: inherit;
  width: 90px;
  height: 39px;
  background: #868686;
  color: #666666;
  border: none;
  border-radius: 3px;
}

.animal-detail-container img.happy-icon, .animal-detail-container img.sad-icon  {
  width: 30px;
  height: 30px;
  background: #ffffff;
  opacity: 100%;
  border-radius: 50%;
}

.animal-detail-container .tooltip {
  height: 88px;
}

.animal-detail-container .tooltip .tooltip-time, .animal-detail-container .tooltip .tooltip-time {
  visibility: hidden;
  font-size: 10px;
  width: auto;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
}

.animal-detail-container .tooltip:hover .tooltip-time, .animal-detail-container .tooltip:hover .tooltip-time {
  font-size: 10px;
  visibility: visible;
}

.animal-detail-container h3 {
  width: 90%;
}

.animal-detail-container p, .animal-detail-container b {
  width: 80%;
  line-height: 16px;
  margin: 10px 45px 10px 45px;
}

.animal-detail-container .tooltip-time {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}